.hamburger_menu_btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 10;
}

.hamburger_line,
.hamburger_line_white {
  height: 4px;
  width: 25px;
  margin-bottom: 4px;
}

.hamburger_line {
  background-color: #0288D1;
}

.hamburger_line_white {
  background-color: #ffffff;
}

.hamburger_menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
  background-color: #fff;
  z-index: 9;
}

@media only screen and (max-width: 764px) {
  .hamburger_menu {
    width: 100vw;
  }
}
